.newproject_container{
    width: 450px;
    margin: 0 auto;
    padding: 3em;
}

.newproject_container h1{
    margin-bottom: 0.5em;
    color: #4BFFB3;
}

.newproject_container p{
    color: #D9D9D9;
}