.project_container{
    padding: 2em;
}

.title_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.title_container h1{
    color: #fff;
}

.project_container p{
    color: #D4EDDA;
}