.container{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

/*classes helpers*/
.min_height{
    min-height: 75%;
}

.start{
    justify-content: flex-start;
}

.colum{
    flex-direction: column;
    justify-content: flex-start;
}
