.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #2E2E2E;
    padding: 1em;   
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;
}

.item a{
    color: #4BFFB3;
    text-decoration: none;
}

.item a:hover{
    color: #fff;
    cursor: pointer;
}